<section class="create-user-block">
  <h2>Create user</h2>
  <div class="grid">
  <div class="grid grid-3">
    <div>Username</div>
    <div><input type="type" name=""></div>
    <div></div>
    <div>Email</div>
    <div><input type="type" name=""></div>
    <div></div>
    <div>Password</div>
    <div><input type="password" name=""></div>
    <div></div>
    <div>Confirm Password</div>
    <div><input type="password" name=""></div>
    <div></div>
    <div>Display Name</div>
    <div><input type="type" name=""></div>
    <div></div>
  </div>
  <div class="grid grid-3">
    <div>Name</div>
    <div><input type="type" name="" placeholder="First"></div>
    <div><input type="type" name="" placeholder="Last"></div>
  </div>
  <div class="grid grid-3">
    <div>Nickname</div>
    <div><input type="type" name=""></div>
    <div></div>
    <div>Website</div>
    <div><input type="type" name=""></div>
    <div></div>
</div>
<div class="grid grid-2">
    <div>Bio</div>
    <div><textarea name=""></textarea></div>   
</div>
<div class="grid grid-3">
    <div>Jabber</div>
    <div><input type="type" name=""></div>
    <div></div>
    <div>AOL IM</div>
    <div><input type="type" name=""></div>
    <div></div>
     <div>Yahoo IM</div>
    <div><input type="type" name=""></div>
    <div></div>
    <div></div>
    <div>
    	 <button mat-raised-button color="primary" routerLink = "/dashboard"><mat-icon class="mr-2">send</mat-icon> Create and access</button>
    </div>
    <div></div>
</div>
<div class="grid grid-3">
<div></div>
</div>
</div>
</section>
